@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@media (prefers-color-scheme: dark) {
  body {
      background-color: #0A092D;
      color: white;
  }

  .link-active {
    border-bottom: 3px solid #ffffff;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
      background-color: white;
      color: #000000;
  }

  .link-active {
    border-bottom: 3px solid green;
    color: green;
    /* margin-top: 2px; */
  }

}


@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"] {
  border: 0;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}


::-webkit-scrollbar {
  width: 4px; 
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px; 
}

html {
  overflow-y: scroll;
}


/* card css */

.card-container {
  perspective: 1000px;
  width: 700px;
  
}

.card {
  width: 700px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}


.card.is-flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front {
  color: #000;
}

@media (max-width: 900px) {
  .card {
      height: 250px;
      width: 400px;
  }
} 

.filter-dropdown:hover .menu-dropdown { 
  display: block;
}


.join-card-is-selected { 
  border-width: 3px;

}

.join-card-is-correct { 
  visibility: hidden; 
}


.shake {
  border: 6px solid red !important; /* Viền đỏ */
  animation: shake 0.3s ease-in-out; /* Hiệu ứng rung trong 0.5 giây */
}

@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-1px); }
  20% { transform: translateX(1px); }
  30% { transform: translateX(-1px); }
  40% { transform: translateX(1px); }
  50% { transform: translateX(-1px); }
  60% { transform: translateX(1px); }
  70% { transform: translateX(-1px); }
  80% { transform: translateX(1px); }
  90% { transform: translateX(-1px); }
  100% { transform: translateX(0); }
}

/* Định nghĩa animation shake */


/* custom.css */
:root {
  --color-x-axis: #333333; /* Light Mode */
  --color-y-axis: #333333;
  --tooltip-bg: #ffffff;
  --tooltip-text: #000000;
  --legend-text: #333333;
}

.dark {
  --color-x-axis: #ffffff; /* Dark Mode */
  --color-y-axis: #ffffff;
  --tooltip-bg: #1f2937; /* Dark Gray */
  --tooltip-text: #ffffff;
  --legend-text: #ffffff;
}
